/* Headergalerie.css */

.header-containerga12{
    width: 100%; /* Prend toute la largeur disponible */
    height: 80vh; /* Hauteur définie pour ton en-tête */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/src/Images/Agenda\ image.jpg');
    background-size: cover; /* Assure que l'image couvre tout le conteneur */
    background-position: center; /* Centre l'image dans le conteneur */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    position: relative;
  }
  
  .boutton-containerga12 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 40%;
    background-color: white;
    border-radius: 8px;
    opacity: 0.8;
    height: 30%;
    overflow: hidden;
    align-items: center;
  }
  
  .butga12 h1 {
    font-size: 40px;
    color: #1B3D71;
    font-weight: bold;
    text-align: center;
  }
  
  .bouttonga12 {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espace entre le texte et l'icône */
    height: 40px;
    margin: 10px 8px;
    padding: 0 10px;
    background-color: #1B3D71;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    width: 25vw; /* Largeur fixe pour aligner les boutons */
    font-weight: bold;
    margin-top: -5%;
  }
  
  .bouttonga1:hover {
    background-color: #13345A;
    color: white;
  }
  
  .arrow-icon {
    margin-left: 8px; /* Espace entre le texte du bouton et l'icône */
  }
  
  /* Media queries pour les petits écrans */
  @media (max-width: 768px) {
    .header-containerga12{
      width: 100%; /* Prend toute la largeur disponible */
      height: 50vh; /* Hauteur définie pour ton en-tête */
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url('/src/Images/Agenda\ image.jpg');
      background-size: cover; /* Assure que l'image couvre tout le conteneur */
      background-position: center; /* Centre l'image dans le conteneur */
      background-repeat: no-repeat; /* Empêche la répétition de l'image */
      position: relative;
    }
    
    .boutton-containerga12 {
      display: flex;
      justify-content: center;
      text-align: center;
      width: 80%;
      background-color: white;
      border-radius: 8px;
      opacity: 0.8;
      height: max-content;
      overflow: hidden;
      align-items: center;
      margin-top: 25%;
    }
    
    .butga12 h1 {
      font-size: 40px;
      color: #1B3D71;
      font-weight: bold;
      text-align: center;
    }
    
    .bouttonga12 {
      display: flex;
      align-items: center;
      justify-content: space-between; /* Espace entre le texte et l'icône */
      height: 40px;
      margin: 10px 8px;
      padding: 0 10px;
      background-color: #1B3D71;
      color: white;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      text-align: center;
      width: 75vw; /* Largeur fixe pour aligner les boutons */
      font-weight: bold;
    }
    
    .bouttonga1:hover {
      background-color: #13345A;
      color: white;
    }
    
    .arrow-icon {
      margin-left: 8px; /* Espace entre le texte du bouton et l'icône */
    }
 }