.containerAcd{
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-left: auto;
    margin-right: auto; 
    margin-top:4%;
    width:82%;
}
.barrescd{
    display: block;  
    width: 10%;
    margin-top: 5px;
}
.trait1cd{
    width: 50%;
    height: 5px;
    margin-left: 12px;
    background-color: #1B3D71;
    margin-bottom: 5px;
}
.trait2cd{
    width: 70%;
    height: 5px;
    background-color: #1B3D71;
}
.titrecd{
    margin-right: 1%;
    font-weight: bold;
}
.titrecd h1{
    color: #1B3D71;
    font-weight: bold;
    font-size: 30px;
}
.ligne5cd{
    width: 36%;
    margin-top: 20px;
    height: 2px;
    background-color: #1B3D71;
}
.textecd{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:4%;
}
.textecd h6{
    color:red;
    margin-top: 4%;
}


/* Responsive styles */
@media (max-width: 576px) {
   
   .titrecd h1{
    font-size: 12px;
    margin-top: 15px;
   }
   .barrescd{
    width: 12%;
    margin-left: 5px;
   }
   .trait1cd{
    width: 40%;
   }
   .trait2cd{
    width: 100%;
   }
  
.ligne5cd{
    width: 12%;
    margin-top: 14px;
    height: 2px;
    background-color: #1B3D71;
}
.containerAcd{
    display: flex;
    justify-content: space-between;    
    margin-top:4%;
    width:82%;
}
.textecd{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:4%;
}
.textecd h6{
    color:red;
    font-size:10px;
}
.textecd p{
    font-size:8px;
}


}





