.containerApas{
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-left: auto;
    margin-right: auto; 
    margin-top:4%;
    width:82%;
}
.barrespas{
    display: block;  
    width: 10%;
    margin-top: 5px;
}
.trait1pas{
    width: 50%;
    height: 5px;
    margin-left: 12px;
    background-color: #1B3D71;
    margin-bottom: 5px;
}
.trait2pas{
    width: 70%;
    height: 5px;
    background-color: #1B3D71;
}
.titrepas{
    margin-right: 1%;
    font-weight: bold;
}
.titrepas h1{
    color: #1B3D71;
    font-weight: bold;
    font-size: 30px;
}
.ligne5pas{
    width: 54%;
    margin-top: 20px;
    height: 2px;
    background-color: #1B3D71;
}
.textepas{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:4%;
}
.textepas h6{
    color:red;
    margin-top: 4%;
}
.permispas{
    width: 50%;
    margin-right: 20px;
    font-size: 20px
}
.contruirep{
    width:40%;
    height:max-content;
}
.construirep img{
    width:80%;
    height: 200px;
}
.declarationp{
    width:80%;
    height:200px;
}
.declarationp img{
    width:100%;
    height: 200px;
}
.limitepas{
    width:3px;
    height:450px;
    margin-right: 30px;
    background-color:#1B3D71;
}
.documentpas{
    width:50%;
    font-size: 20px;

}
.textedemarche{
    margin-left: auto;
    margin-right: auto;
    width:80%;
    margin-top: 2%;
    font-size: 20px
}
.textedemarche h6{
    color:red;
    margin-top:3%;
}
 .permispas h6{
    margin-bottom:3%;
}
.frais{
    margin-left:auto;
    margin-right:auto;
    width:80%;
    margin-top: 2%;
}
.frais h6{
    color:red;
    text-align:center;
}
.frais p{
    text-align: center;
    font-size: 20px;

}
/* Responsive styles */
@media (max-width: 576px) {
   
   .titrepas h1{
    font-size: 16px;
    margin-top: 15px;
   }
   .barrespas{
    width: 12%;
    margin-left: 5px;
   }
   .trait1pas{
    width: 40%;
   }
   .trait2pas{
    width: 100%;
   }
  
.ligne5pas{
    width: 15%;
    margin-top: 14px;
    height: 2px;
    background-color: #1B3D71;
}
.containerApas{
    display: flex;
    justify-content: space-between;    
    margin-top:4%;
    width:82%;
}
.textepas{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:4%;
}
.textepas h6{
    color:red;
    font-size:10px;
}
.textepas p{
    font-size:10px;
}
.permispas{
    width: 50%;
    margin-right: 20px;
}
.permispas h6{
    font-size: 10px;
}
.limitepas{
    width:3px;
    height:190px;
    margin-right: 30px;
    background-color:#1B3D71;
}
.documentpas{
    width:50%;
    font-size: 10px;

}
.textedemarche{
    margin-left: auto;
    margin-right: auto;
    width:80%;
    margin-top: 2%;
}
.textedemarche p{
    font-size: 10px;

}
.textedemarche h6{
    font-size:10px;
}
.contruirep{
    width:50%;
    height:100px;
}

.construirep img{
    width:100%;
    height: 100px;
}
.declarationp{
    width:80%;
    height:100px;
}
.declarationp img{
    width:100%;
    height: 100px;
}
.limitepas{
    width:3px;
    height:290px;
    margin-right: 30px;
    background-color:#1B3D71;
}
.frais p{
    font-size: 10px;

}

 }



