/* Culturecarte.css */

.container-Culturecarte2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerCulturecarte {
    text-align: center;
    margin-bottom: 20px;
}

.barreCulturecarte24 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.traitCulturecarte24s, .traitCulture24s {
    width: 100%;
    height: 2px;
    background-color: #1B3D71; /* Couleur du trait */
    margin: 5px 0; /* Espace entre les traits */
}

.cards1-containerCulture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espace entre les cartes */
}

.card24, .card30 {
    width: 200px; /* Largeur de chaque carte */
    height: 200px; /* Hauteur de chaque carte */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre autour des cartes */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease; /* Ajoute une transition pour l'animation */
}

/* Animation au survol */
.card24:hover, .card30:hover {
    transform: translateY(-10px); /* Déplace la carte vers le haut */
}

.card24 img, .card30 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que l'image couvre toute la carte sans déformation */
    border-radius: 10px; /* Coins arrondis */
}



/* Media queries pour les petits écrans */
@media (max-width: 768px) {
   
    /* Culturecarte.css */

.container-Culturecarte2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerCulturecarte {
    text-align: center;
    margin-bottom: 20px;
}

.barreCulturecarte24 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.traitCulturecarte24s, .traitCulture24s {
    width: 100%;
    height: 2px;
    background-color: #1B3D71; /* Couleur du trait */
    margin: 5px 0; /* Espace entre les traits */
}

.cards1-containerCulture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espace entre les cartes */
}

.card24, .card30 {
    width: 90%; /* Largeur de chaque carte */
    height: 60%; /* Hauteur de chaque carte */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre autour des cartes */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease; /* Ajoute une transition pour l'animation */
}

/* Animation au survol */
.card24:hover, .card30:hover {
    transform: translateY(-10px); /* Déplace la carte vers le haut */
}

.card24 img, .card30 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que l'image couvre toute la carte sans déformation */
    border-radius: 10px; /* Coins arrondis */
}


  }
  