/* Styles pour le splashscreen */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }
.splash-container h3{
  color: #1B3D71;
  font-size: 30px;
  font-family: serif;
}
  
  /* Style du logo */
  .logo {
    max-width: 60%;
    height: 50%;
    animation: fadeIn 2s ease-out;
    border-radius: 10%;
    box-shadow: 1px 1px 10px white;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }
  
  /* Animation pour le logo */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
/* Responsive styles */
@media (max-width: 576px) {
  
    .splash-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 5%;
      }
      .splash-container h3{
        color: #1B3D71;
        font-size: 14px;
        text-align: center;
        font-family: serif;
      }
      /* Style du logo */
      .logo {
        max-width: 60%;
        height: 20%;
        animation: fadeIn 1s ease-in-out;
        border-radius: 10%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
      }
}
  