/* Bouton.css */

.updated-button-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items:center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.updated-button-wrapper a{
  text-decoration: none;
}

.updated-button-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espace entre les boutons */
}

.updated-custom-button, .updated-custom-retour {
  margin: 10px 0; /* Espacement vertical entre les boutons */
  padding: 10px 20px; /* Padding pour ajuster la taille des boutons */
  font-size: 16px; /* Taille de la police */
  height: 40px; /* Hauteur spécifique des boutons */
  width: 800px; /* Largeur spécifique des boutons */
  background-color: #fff; /* Couleur de fond blanche */
  color: #757575; /* Couleur du texte */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Box-shadow */
  display: flex; /* Flex pour aligner icône et texte */
  align-items: center; /* Centrage vertical */
  justify-content: flex-start; /* Alignement du contenu au début */
  gap: 10px; /* Espace entre l'icône et le texte */
}

.updated-circle-arrow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px; /* Taille du cercle */
  height: 25px; /* Taille du cercle */
  border-radius: 50%; /* Cercle */
  background-color: #ffff; /* Couleur de fond du cercle */
  color: #1B3D71; /* Couleur de l'icône */
  font-size: 16px; /* Taille de l'icône */
  border: 2px solid #1B3D71; /* Bordure */
}

.updated-custom-button{
  width:80vw;
}
.r1{
  text-align:center;
}
/* Butonbackgal.css */

.Butonbackgal {
  display: flex;
  justify-content: space-around;
  margin-left: 8%;
  width: 45%;
}

.Butonbackgal22, .Butonbackgal44 {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #1B3D71;
  color: white;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.R1 { margin-left: 70px;
  font-size: 30px;


}

.Butonbackgal33 {
  margin-right: 10px; /* Espace entre la flèche et le texte */
}

.Butonbackgal22:hover, .Butonbackgal44:hover {
  background-color: #45a049;
  color: white;
}

/* Responsive styles */
@media (max-width: 576px) {
  .updated-button-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items:center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .updated-button-wrapper a{
    text-decoration: none;
  }
  
  .updated-button-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espace entre les boutons */
  }
  .Butonbackgal {
    display: flex;
    justify-content: space-around;
    margin-left: 8%;
    width: 80%;
  }
  
  
  .updated-circle-arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px; /* Taille du cercle */
    height: 25px; /* Taille du cercle */
    border-radius: 50%; /* Cercle */
    background-color: #ffff; /* Couleur de fond du cercle */
    color: #1B3D71; /* Couleur de l'icône */
    font-size: 16px; /* Taille de l'icône */
    border: 2px solid #1B3D71; /* Bordure */
  }
  
  .Butonbackgal22 {
    width: 100%;
    height: 40px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    background-color: #1B3D71;
    color: white;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease;
  }
  .Butonbackgal44 {
    width: 100%;
    height: 40px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    background-color: #1B3D71;
    color: white;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease;
  }
  
  .R1 { margin-left: 70px;
    font-size: 30px;
  
  
  }

}



