/* Cultureheader.css */

.header-containerga26 {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/src/Images/Culture/culture5.jpg');
  background-size: cover;
  background-position: center 50%; /* Ajuste la position de l'image */
  background-repeat: no-repeat;
  position: relative;
}

.boutton-containerga26 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 40%;
  background-color: white;
  border-radius: 8px;
  opacity: 0.8;
  height: 30%;
  overflow: hidden;
  margin-top: 20%;
}

.butga26 h1 {
  font-size: 40px;
  color: #1B3D71;
  font-weight: bold;
  text-align: center;
}

.bouttonga26 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin: 10px 8px;
  padding: 0 10px;
  background-color: #1B3D71;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  width: 25vw;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.bouttonga26:hover {
  background-color: #13345A;
  color: white;
}


/* Media queries pour les petits écrans */
@media (max-width: 768px) {
  .header-containerga26 {
    height: 50vh;
    background-position: center 20%; /* Ajuste la position pour les petits écrans */
  }

  .boutton-containerga26 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80%;
    background-color: white;
    border-radius: 8px;
    opacity: 0.8;
    height: max-content;
    overflow: hidden;
    margin-top: 20%;
  }

  .butga26 h1 {
    font-size: 30px;
  }
  .bouttonga26 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin: 10px 8px;
    padding: 0 10px;
    background-color: #1B3D71;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    width: 75vw;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
  }
  
  .bouttonga26:hover {
    background-color: #13345A;
    color: white;
  }
}
