.facebook{
    border: none;
    background-color: transparent;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    color: gray;
}
.facebook h6{
    text-align: right;
    align-items: center;
}

.whatsapp{
    border: none;
    background-color: transparent;
    color: gray;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.whatsapp h6{
    text-align: right;
    align-items: center;
}

.reseaux{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
}

.nos-reseaux{
    color: #1B3D71; 
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
.precedente{
    width: 20%;
    height: 30px;
    border-radius: 2px;
    align-items: center;
    font-weight: bold;
}
.precedente:hover{
    color: #d9b847;
}

@media (max-width:560px){

    .facebook{
        border: none;
        background-color: transparent;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        color: gray;
    }
    .facebook h6{
        text-align: right;
        align-items: center;
    }
    
    .whatsapp{
        border: none;
        background-color: transparent;
        color: gray;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }
    .whatsapp h6{
        text-align: right;
        align-items: center;
    }
    
    .reseaux{
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        width: 170px;
        margin-left: 4%;
    }
    
    .nos-reseaux{
        color: #1B3D71; 
        font-weight: bold;
        font-size: 16px;
        margin-top: 8%;
    }
    .precedente{
        width: 80%;
        height: 30px;
        border-radius: 4px;
        align-items: center;
        font-weight: bold;
    }
    .precedente:hover{
        color: #d9b847;
    }
    
}