
    .textte {
      text-align: center;         /* Centre le texte */
      padding: 10px;              /* Ajoute de l'espace autour du texte */
      background-color: ffffff;  /* Couleur de fond légère */
      border-radius: 8px;         /* Arrondit les coins */
      width: 80%;           /* Limite la largeur pour une meilleure lisibilité */
      margin: auto;             /* Centre le div horizontalement */
      box-shadow:0px 4px 10px rgba(0, 0, 0, 0.1) ; 
      margin-top: 1%;
      flex-direction: column;
    }

    .text2te {
      font-size: 30px;           /* Taille du texte pour le titre */
      font-weight: bold;         /* Met le texte en gras */
      color:#1B3D71;            /* Couleur du texte (adaptée à votre couleur de marque) */
      align-items: center;
      margin-bottom: 4%;

    }
  
  #serv{
    font-size: 20px;           /* Taille du texte pour le paragraphe */
    color: gray;     
    text-align: justify;
    padding: 10px;
  }

    @media (max-width:768px){
   
    .textte {
      text-align: center;         /* Centre le texte */
      padding: 5px;              /* Ajoute de l'espace autour du texte */
      background-color: ffffff;  /* Couleur de fond légère */
      border-radius: 8px;         /* Arrondit les coins */
      width: 90%;           /* Limite la largeur pour une meilleure lisibilité */
      margin: auto;             /* Centre le div horizontalement */
      box-shadow:0px 4px 10px rgba(0, 0, 0, 0.1) ; 
      margin-top: 1%;
      display: flex;
      flex-direction: column;
    }
    
    .text2te {
      font-size: 18px;           /* Taille du texte pour le titre */
      font-weight: bold;         /* Met le texte en gras */
      color:#1B3D71;            /* Couleur du texte (adaptée à votre couleur de marque) */
      align-items: center;
    }
  
  
  #serv{
    font-size: 14px;
  }

    }