/* Cdqgalerie.css */

.header-containerga24 {
    width: 100%; /* Prend toute la largeur disponible */
    height: 500px; /* Hauteur définie pour ton en-tête */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/src/Images/Cdqmenbres.jpg');
    background-size: cover; /* Assure que l'image couvre tout le conteneur */
    background-position: center 20%; /* Ajuste la position de l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    position: relative;
  }
  
  .boutton-containerga24 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;
    background-color: white;
    border-radius: 8px;
    opacity: 0.8;
    height: 30%;
    overflow: hidden;
    margin-top: 20%;
  }
  
  .butga24 h1 {
    font-size: 60px;
    color: #1B3D71;
    font-weight: bold;
    text-align: center;
  }
  
  .bouttonga24 {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espace entre le texte et l'icône */
    height: 40px;
    margin: 10px 8px;
    padding: 0 10px;
    background-color: #1B3D71;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    width: 25vw; /* Largeur fixe pour aligner les boutons */
    font-weight: bold;
    margin-left: 170px;
  }
  
  .bouttonga24:hover {
    background-color: #13345A;
    color: white;
  }
  
 
  /* Media queries pour les petits écrans */
  @media (max-width: 768px) {
    .header-containerga24 {
      height: max-content; /* Ajuste la hauteur pour les petits écrans */
    }
  
    .boutton-containerga24 {
      width: 80%; /* Réduit la largeur pour les petits écrans */
      margin-top: 10%; /* Ajuste la marge pour les petits écrans */
    }
  
    .butga24 h1 {
      font-size: 40px; /* Réduit la taille de la police pour les petits écrans */
    }
  }
  
  @media (max-width: 480px) {
    .header-containerga24 {
      height: 300px; /* Ajuste la hauteur pour les très petits écrans */
    }
  
    .boutton-containerga24 {
      width: 90%; /* Prend toute la largeur disponible */
      margin-top: 5%; /* Ajuste la marge pour les très petits écrans */
    }
  
    .butga24 h1 {
      font-size: 30px; /* Réduit encore la taille de la police */
    }
  }
  