.TousAme-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    justify-content:center;
}


.TousAme-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    padding: 20px;
    width:100%;
    margin-top:30px;
}

.TousAme-text {
    flex-basis: 50%;
    text-align: left;
}

.TousAme-text h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color:red;
}

.TousAme-text p {
    font-size: 20px;
    line-height: 1.6;
    color: gray;
}

.TousAme-image {
    flex-basis: 50%;
}

.TousAme-image img {
    width: 100%;
    height: auto;
}

/* Responsive styles */
@media (max-width: 768px) {
    .TousAme-card {
        flex-direction: column;
    }

    .TousAme-text {
        text-align: center;
        margin-bottom: 20px;
    }

    .TousAme-image {
        width: 100%;
    }
    .TousAme-container h4 {
        font-size:12px ;
    }
    .TousAme-text p{
        font-size:10px;
    }
}
