.faq-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    background-color: #1B3D71;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .quest{
    margin-bottom: 10%;
  }

  .quest p{
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px #1B3D71;

  }
  .quest h3{
    color: red;
    font-size: 20px;

  }
  .quest h2 {
    font-size: 25px;
    color:  #d9b847;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  .faq-container h1 {
    text-align: center;
    font-size: 30px;
    color: #d9b847;
    margin-bottom: 8%;
    font-weight: bold;
    text-shadow: 2px 2px 4px #1B3D71;

  }
  
  .faq-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 20px;
    color: gray;
  }
  
  .faq-form input {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .faq-form button {
    padding: 10px;
    font-size: 20px;
    background-color: #1B3D71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .faq-form button:hover {
    background-color: #163c64;
  }
  
  .faq-list {
    margin-top: 20px;
    font-size: 20px;
    color: gray;
  }
  
  .faq-item {
    background-color: #fff;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .faq-question {
    font-size: 20px;
    color: #1B3D71;
    font-weight: normal;
    margin: 0;
    text-align: center;
    margin-bottom: 1%;
  }
  
  .faq-answer {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
  }
  
  .admin-response input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .admin-response button {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #1B3D71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .sub{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  
  .admin-response button:hover {
    background-color: #163c64;
  }
  
   button {
    margin-left: 10px;
    background-color: #1B3D71;
    margin-bottom: 2%;
    color: white;
    border: none;
    font-size: 14px;
  }
  
  .edit-question input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .edit-question button {
    margin-right: 5px;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .faq-container {
      width: 90%;
    }
    .faq-container h1 {
        text-align: center;
        font-size: 16px;
        color:  #d9b847;
        font-weight: bold;
        margin-bottom: 20px;
      }
    .faq-question {
      font-size: 10px;
      color: #1B3D71;
      font-weight: normal;
    }
    button {
      margin-left: 5px;
      background-color: #1B3D71;
      margin-bottom: 2%;
      color: white;
      border: none;
      font-size: 10px;
      margin-top: 2%;
      text-align: center;
    }
    .faq-list {
        margin-top: 20px;
        font-size: 10px;
      }
    .faq-answer {
      font-size: 10px;
    }
    .faq-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        font-size: 10px;
      }
  
    .faq-form input {
      font-size: 10px;
    }
  
    .faq-form button {
      font-size: 10px;
    }
   
      .quest h2 {
        color:  #d9b847;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 20px;
      }
      .quest p{
        font-size: 10px;
        color: color;
      }
      .quest h3{
        color: red;
        font-size: 14px;
      }
  }
  