.containeretc{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    margin-top:4%;
    width:80%;
    margin-right:auto;
    margin-left:auto;
}
    .barreetc{
        display: block;  
        width: 10%;
    }
    .trait1etc{
        width: 50%;
        height: 5px;
        margin-left: 14px;
        background-color: #1B3D71;
        margin-bottom: 5px;
    }
    .tiret2etc{
        width: 75%;
        height: 5px;
        background-color: #1B3D71;
    }
    
    .sous-titreetc h1{
        color: #1B3D71;
        font-weight: bold;
        font-size: 30px;

    }
   
    .tiretetc{
        width: 72%;
        margin-top: 14px;
        height: 2px;
        background-color: #1B3D71;
    }
    

.civiltexte{
    width:80%;
    margin-right:auto;
    margin-left:auto;
    margin-top:2%;
    text-align: start;
    background-color: white;
}
.mereetc{
    width: 100%;
}
.civiltexte p{
    font-size:20px;
}

.civiltexte  li {
   
font-weight: bold;
color: gray;
margin-top:20px;
}
/* Responsive styles */
@media (max-width: 576px) {
  
    .containeretc{
        display: flex;
        justify-content: space-around;
        align-items: center;    
        margin-top:4%;
        width:80%;
        margin-right:auto;
        margin-left:auto;
    }
        .barreetc{
            display: block;  
            width: 13%;
        }
        .trait1etc{
            width: 30%;
            height: 5px;
            background-color: #1B3D71;
            margin-bottom: 5px;
            margin-left: 9px;
        }
        .tiret2etc{
            width: 75%;
            height: 5px;
            background-color: #1B3D71;
        }
        .sous-titreetc{
            color: #1B3D71;
            font-weight: bold;
        }
        .sous-titreetc h1{
            font-weight: bold;
            font-size: 16px;
            margin-right: 2px;
            margin-top: 10px;
        }
        .tiretetc{
            width: 52%;
            margin-top: 14px;
            height: 2px;
            background-color: #1B3D71;
        }
        
    
    .civiltexte{
        width:80%;
        margin-right:auto;
        margin-left:auto;
        margin-top:2%;
        text-align: center;
        background-color: white;
        padding:10px;
        font-size: 12px;
    
    }
    .civiltexte p{
        text-align: justify;
        font-size: 14px;
    }
    
    .civiltexte  li {
       
    font-weight: bold;
    color: gray;
    margin-top:20px;
    text-align: left;
    font-size: 14px;
    }
}