.container3{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-top:4%;
    width: 100%;
}
.mere3{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
    .barrets3{
        display: block;  
        width: 10%;
        height: 5px;
        align-items: center;
    }
    .trait3{
        width: 20%;
        height: 5px;
        background-color: #1B3D71;
        margin-bottom: 5px;
       margin-left: 15%;
    }
    .tiret3a{
        width: 50%;
        height: 5px;
        background-color: #1B3D71;
    }
    .sous-titre3{
        color: #1B3D71;
    }
    .sous-titre3 h1{
        font-weight: bold;
        font-size: 30px;
        margin-top: 8px;
    }
    
    .tiret3{
        width: 72%;
        margin-top: 25px;
        height: 2px;
        background-color: #1B3D71;
    }
    
.rectangle-blanc3 {
    background-color: white;
    padding: 20px;
    margin-top: 1%; 
    border-radius: 15px; 
    text-align: justify;
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.rectangle-blanc3 ul  {
    color: gray;
    font-size: 20px;
    text-align: left; 
    text-align: justify;
    line-height: 1.5;
    padding: 0 20px; 

}
.rectangle-blanc  li {
    color: #333;
    font-size: 20px;
    text-align: left; 
    text-align: justify;
    line-height: 1;
    padding: 0 20px; 

}


@media (max-width: 768px) {
 
    .container3{
        display: flex;
        justify-content: space-between;
        align-items: center;    
        margin-top:4%;
        width: 100%;
    }
    .mere3{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
        .barrets3{
            display: block;  
            width: 10%;
            height: 5px;
            align-items: center;
        }
        .trait3{
            width: 40%;
            height: 5px;
            background-color: #1B3D71;
            margin-bottom: 5px;
           margin-left: 9px;
        }
        .tiret3a{
            width:100%;
            height: 5px;
            background-color: #1B3D71;
        }
        .sous-titre3{
            color: #1B3D71;
        }
      
        .tiret3{
            width: 53%;
            margin-top: 25px;
            height: 2px;
            background-color: #1B3D71;
        }
        .sous-titre3 h1{
            font-weight: bold;
            font-size: 20px;
            margin-top: 18px;
        } 
    .rectangle-blanc3 {
        background-color: white;
        padding: 20px;
        margin-top: 1%; 
        border-radius: 15px; 
        text-align: justify;
        width: 80%; 
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }
    .rectangle-blanc3 ul  {
        color: gray;
        font-size: 10px;
        text-align: left; 
        text-align: justify;
        line-height: 1.5;
        padding: 0 20px; 
    
    }
    .rectangle-blanc  li {
        color: #333;
        font-size: 10px;
        text-align: left; 
        text-align: justify;
        line-height: 1;
        padding: 0 20px; 
    
    }
  }