
.projet-detail .hh1{
    color: #1B3D71;
    text-align: center;
    margin-top: 5%;
    color:  #d9b847;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
.projet-detail p{
    font-size: 20px;
    text-align: justify;
    color: black;
    padding: 5px;
}
.projet-detail p li{
    font-weight: bold;
    color: #1B3D71;
    text-align: justify;
    font-size: 20px;
}

/* Responsive styles */
@media (max-width: 576px) {
  
    .projet-detail .hh1{
        color:  #d9b847;
        text-align: center;
        margin-top: 5%;
        font-size: 20px;
        padding: 5px;
    }
   
    .projet-detail p{
        font-size: 14px;
        text-align: justify;
        padding: 10px;
       
    }
    .projet-detail p li{
        font-weight: bold;
        color: #1B3D71;
        text-align: justify;
        font-size: 14px;
    }
}