.containeraAta{
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-left: auto;
    margin-right: auto; 
    margin-top:4%;
    width:82%;
}
.barresta{
    display: block;  
    width: 10%;
    margin-top: 5px;
}
.trait1ta{
    width: 50%;
    height: 5px;
    margin-left: 12px;
    background-color: #1B3D71;
    margin-bottom: 5px;
}
.trait2ta{
    width: 70%;
    height: 5px;
    background-color: #1B3D71;
}
.titreta{
    margin-right: 1%;
    font-weight: bold;
}
.titreta h1{
    color: #1B3D71;
    font-weight: bold;
    font-size: 30px;
}
.ligne5ta{
    width: 51%;
    margin-top: 20px;
    height: 2px;
    background-color: #1B3D71;
}
.texteta{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:4%;
}
.texteta h6{
    color:red;
}
.permis{
    width: 50%;
    margin-right: 20px;
}
.limite{
    width:3px;
    height:520px;
    margin-right: 30px;
    background-color:#1B3D71;
}
.document{
    width:50%;
}
/* Responsive styles */
@media (max-width: 576px) {
   
   .titreta h1{
    font-size: 15px;
    margin-top: 15px;
    margin-left: 5px;
   }
   .barresta{
    width: 12%;
    margin-left: 4px;
   }
   .trait1ta{
    width: 40%;
   }
   .trait2ta{
    width: 100%;
   }
  
.ligne5ta{
    width: 22%;
    margin-top: 14px;
    height: 2px;
    background-color: #1B3D71;
}
.containerAta{
    display: flex;
    justify-content: space-between;    
    margin-top:4%;
    width:82%;
}
.texteta{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:4%;
}
.texteta h6{
    color:red;
    font-size:10px;
}
.texteta p{
    font-size:8px;
}
.permis{
    width: 50%;
    margin-right: 20px;
}
.limite{
    width:3px;
    height:470px;
    margin-right: 30px;
    background-color:#1B3D71;
}
.document{
    width:50%;
}
}





