.mere2025 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .containerA2025 {
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-left: auto;
    margin-right: auto; 
    margin-top: 4%;
    width: 82%;
  }
  
  .barres2025 {
    display: block;  
    width: 10%;
    margin-top: 5px;
  }
  
  .trait12025 {
    width: 50%;
    height: 5px;
    margin-left: 12px;
    background-color: #1B3D71;
    margin-bottom: 5px;
  }
  
  .trait22025 {
    width: 70%;
    height: 5px;
    background-color: #1B3D71;
  }
  
  .titre2025 {
    flex: 1; /* Permet au titre de prendre tout l'espace disponible */
    text-align: center;
    margin-right: 1%;
    font-weight: bold;
  }
  
  .titre2025 h1 {
    color: #1B3D71;
    font-weight: bold;
    overflow: hidden; /* Masque le texte qui dépasse */
    text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est trop long */
    font-size: 30px;
  }
  
  .ligne2025 {
    width: 70%;
    margin-top: 20px;
    height: 2px;
    background-color: #1B3D71;
  }
  
  
  /* Responsive styles */
  @media (max-width: 768px) {
    
    .mere2025 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    
    .containerA2025 {
      display: flex;
      justify-content: center;
      align-items: center;   
      margin-left: auto;
      margin-right: auto; 
      margin-top: 4%;
      width: 82%;
    }
    
    .barres2025 {
      display: block;  
      width: 10%;
      margin-top: 5px;
    }
    
    .trait12025 {
      width: 40%;
      height: 5px;
      background-color: #1B3D71;
      margin-bottom: 5px;
    }
    
    .trait22025 {
      width: 100%;
      height: 5px;
      background-color: #1B3D71;
      margin-left: 3px;
    }
    
    .titre2025 {
      flex: 1; /* Permet au titre de prendre tout l'espace disponible */
      text-align: center;
      margin-right: 1%;
      font-weight: bold;
    }
    
    .titre2025 h1 {
      color: #1B3D71;
      font-weight: bold;
      overflow: hidden; /* Masque le texte qui dépasse */
      text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est trop long */
      font-size: 16px;
      margin-top: 15px;
    }
    
    .ligne2025 {
      width:52%;
      margin-top: 20px;
      height: 2px;
      background-color: #1B3D71;
    }
    
  }
  