.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background: transparent;
}

/* LEFT */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 50%;
}

.navbar-logo {
  height: 84px;
  padding: 5px;
}



/* CENTER */
.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: rgba(255,255,255,0.7);
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.2s;
}

.navbar-links a:hover {
  color: #fff;
}

/* RIGHT */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu-btn {
  color:  #1B3D71 !important;;
}

/* DRAWER */
.drawer-content {
  width: 260px;
  padding: 20px;
}

.drawer-content a {
  text-decoration: none;
  color: #1B3D71;
  font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .navbar-links {
    display: none;
  }
  .navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

/* LEFT */
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 42px;
}


}