.trait-long2{
  width: 52%;
  height: 3px;
  background-color: #1B3D71;
  margin-top: 2.5%;
  float: right;
  margin-right: 14%;
}

.trait-court2{
  width: 4%;
  height: 4px;
  margin-right: 10px;
  background-color: #1B3D71;
  margin-top: 1%;
  float: left;
}

.enfant-text2{
  color: #1B3D71;
  font-weight: bold;
  margin-top: 2%;
  margin-left: 12%;
  font-size: 30px;
}

.texte-etranger{
  text-align: center;         /* Centre le texte */
  padding: 6px;              /* Ajoute de l'espace autour du texte */
  background-color: ffffff;  /* Couleur de fond légère */
  border-radius: 8px;         /* Arrondit les coins */
  max-width: 80%;           /* Limite la largeur pour une meilleure lisibilité */
  margin: auto;             /* Centre le div horizontalement */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 1%;
  text-align: left;
  font-size:20px;
  padding: auto;

}

.boss-text2{
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 4%;
  padding: auto;

}

@media (max-width: 580px) {
  .boss-texte3{
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: auto;
  
    }

  .texte-etranger{
    padding: 6px;              /* Ajoute de l'espace autour du texte */
    background-color: ffffff;  /* Couleur de fond légère */
    border-radius: 8px;         /* Arrondit les coins */
    max-width: 95%;           /* Limite la largeur pour une meilleure lisibilité */
    margin: auto;             /* Centre le div horizontalement */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1%;
    text-align: left;
    font-size:10px;
    padding: auto;
    }
  
    
 .enfant-text2{
  color: #1B3D71;
  font-weight: bold;
  margin-top: 5%;
  margin-left: 3%;
  font-size: 16px;
  }

  .trait-long2{
    width: 40%;
    height: 3px;
    background-color: #1B3D71;
    margin-top: 4.3%;
    float: right;
    margin-right: 3%;
  }

  .trait-court2{
  width: 4%;
  height: 3px;
  margin-right: 10px;
  background-color: #1B3D71;
  margin-top: 1%;
  float: left;
  }
     
     } 