.rubriquet{
    margin-left: 8%;
    margin-top:4%;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.four{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
   
}
.travauxi{
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 90%;
    border-radius:8px;
    border:none;
    margin-top: 2%;
    align-items: center;
    margin-right: 5px;
}
.travauxi h4{
    margin-left:5%;
    color: gray;
}
.rubriquet a{
    text-decoration:none;

}
.rubriquet h2{
    margin-bottom: 2%;
    color: #1B3D71;

}

/* Responsive styles */
@media (max-width: 576px) {

    .rubriquet{
        margin-left: 9%;
        margin-top:4%;
        justify-content: center;
        align-items: center;
    }
    .four{
        margin-left: -10%;
        justify-content: center;
        align-items: center;
       
    }
    .travauxi{
        display: flex;
        width: 80%;
        border-radius:8px;
        border:none;
        margin-top: 2%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    .travauxi h4{
        margin-left:10%;
        font-size: 10px;
    }
    .rubriquet h2{
        margin-bottom: 2%;
        color: #1B3D71;
       padding-top: 20px;
       padding-bottom: 15px;

    
    }
    
 }
 
 
 
 
 
 