.refectionement-container {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  justify-content: center;
  object-fit: cover;
}

.buton-project-refect{
  background-color: #1B3D71;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.boss-trait-refect{
  display: flex;
  align-items: center;
  justify-content: center;
}

.trait-projet1-refect{
  width: 5%;
  height: 4px;
  background-color: #1B3D71;
}

.trait-projet2-refect{
  width: 15%;
  height: 4px;
  background-color: #1B3D71;
  margin-top: 3%;
  margin-left: 2%;
}

.projet-text-refect {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 30px;
  color: #1B3D71;
  font-weight: bold;
  text-align: left;
  margin-left: 1%;
}

.projet-card-refect {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}

.projet-texts-refect {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
}



.projet-texts-refect p {
  font-size: 20px;
  line-height: 1.6;
  color: gray;
}


.projet-image-refect {
  width: 80vh;
}

.projet-image-refect img {
  width: 100%;
  height: 80vh;
  border-radius: 8px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .refectionement-container {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    justify-content: center;
    object-fit: cover;
    flex-direction: column;
  }
  
  .buton-project-refect{
    float: left;
    background-color: #1B3D71;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .boss-trait-refect{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .trait-projet1-refect{
    width: 6%;
    height: 5px;
    margin-bottom: 4%;
    background-color: #1B3D71;
  }
  
  .trait-projet2-refect{
    height: 5px;
    background-color: #1B3D71;
    margin-top: 12%;
    margin-left: 2%;
  }
  
  .projet-text-refect {
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 30px;
    color: #1B3D71;
    font-weight: bold;
    text-align: left;
    width: 100%;
  }
  
  .projet-card-refect {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    padding: 5px;
    border-radius: 8px;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    height: max-content;
  }
  
  .projet-texts-refect {
    width: 90%;
    text-align:center;
  }
  
 
  
  .projet-texts-refect p {
    font-size: 10px;
    line-height: 1;
    padding: 5px;

  }
  
  
  .projet-image-refect {
    width: 35vh;
  }
  
  .projet-image-refect img {
    width: 72vw;
    height: 20%;
    height: auto;
    border-radius: 8px;
  }
}