.back-button {
    background-color: #1b3d71; /* Couleur du bouton */
    color: white; /* Couleur du texte */
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    font-weight:bold;
    margin-top: 5%; /* Espacement entre les cartes et le bouton */
    display: block; /* Pour le centrer sous les cartes si besoin */
    margin-left: 8%;
    width: fit-content; /* Ajuster la largeur du bouton au contenu */
}
.back-button {
text-decoration:none;

}
.back-button:hover {
    background-color: #0056b3; /* Couleur au survol */
}
/* Media queries pour la réactivité */
@media (max-width: 768px) {
    
    .back-button{
        width:32%;
        height: 30px;
        font-size: 7px;
    }
}


