.main2aidesocial {
    background-image: url('../Images/aide.jpg');
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-position: center;
    justify-content: center;
    align-items: center;
  }
  
  .boutton-container1aidesocial {
    position:inherit; /* Changez en absolute si nécessaire */
    top: 20px; /* Ajustez cette valeur pour descendre le rectangle */
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    width: 40%;
    background-color: #1B3D71;
    height: max-content;
    border-radius: 8px;
    opacity: 0.8;
    overflow: hidden; 
  }
  
  
  
  
  .buts.aidesocial h1 {
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin: auto;
    justify-content: center;
  }
  
  .boutton2aidesocial {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espace entre le texte et l'icône */
    height: 40px;
    margin: 10px 8px;
    padding: 0 10px;
    background-color: white;
    color: #1B3D71;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    width: 35vw; /* Largeur fixe pour aligner les boutons */
    font-weight: bold;
  }
  
  .boutton2aidesocial:hover {
    background-color: #1B3D71;
    color: white;
  }
  
 
  
  /* Styles spécifiques pour la version mobile */
  @media (max-width: 768px) {
    .main2aidesocial {
      background-image: url('../Images/aide.jpg');
      height: 50vh;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      background-position: center;
      justify-content: center;
      align-items: center;
    }
    
    .boutton-container1aidesocial {
      position:inherit; /* Changez en absolute si nécessaire */
      top: 20px; /* Ajustez cette valeur pour descendre le rectangle */
      display: flex;
      flex-direction: column;
      justify-content:space-between;
      align-items: center;
      text-align: center;
      width: 85%;
      background-color: #1B3D71;
      height: max-content;
      border-radius: 8px;
      opacity: 0.9;
      overflow: hidden; 
    }
    
    
    
    
    .buts.aidesocial h1 {
      font-size: 20px;
      color: white;
      font-weight: bold;
      justify-content: center;
    }
    
    .boutton2aidesocial {
      display: flex;
      align-items: center;
      justify-content: space-between; /* Espace entre le texte et l'icône */
      height: 40px;
      margin: 10px 8px;
      padding: 0 10px;
      background-color: white;
      color: #1B3D71;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      text-align: center;
      width: 77vw; /* Largeur fixe pour aligner les boutons */
      font-weight: bold;
    }
    
    .boutton2aidesocial:hover {
      background-color: #1B3D71;
      color: white;
    }
    
   
  }
  