.form-container {
  width: 60%;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px #ddd;
}

.form-container h2 {
  text-align: center;
  color: #1B3D71;
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
  color: #1B3D71;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

textarea {
  height: 120px;
  resize: none;
}

.btn-save {
  background: #1B3D71;
  color: white;
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn-save:hover {
  background: #16345c;
}
