.breakingnews-list {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.news-item {
  background: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-text img {
  width: 70px;
  border-radius: 5px;
  margin-right: 10px;
}

.news-actions button {
  margin-left: 10px;
  padding: 8px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.news-actions button:first-child {
  background: #E0A800;
  color: white;
}

.news-actions button:last-child {
  background: #C62828;
  color: white;
}
