.titrelega{
    width: 84%;
    margin-right: auto;
    margin-left: auto;

}
.titrelega h1{
    font-weight: bold;
    font-size: 30px;
    color: #1B3D71;
    margin-top: 4%;
    text-align: center;
}
.titrelega P{
    font-size: 20px;
    color:gray;
    background-color: white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    padding: 10px;
    margin-top: 4%;
    text-align: center;
    border-radius: 8px;
}

@media (max-width: 768px) {
 
    .titrelega{
        width: 88%;
        margin-right: auto;
        margin-left: auto;
    
    }
    .titrelega h1{
        font-weight: bold;
        font-size: 18px;
        color: #1B3D71;
        margin-top: 4%;
        text-align: center;
    }
    .titrelega P{
        font-size: 14px;
        color:gray;
        background-color: white;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
        width: 100%;
        padding: 20px;
        margin-top: 4%;
        text-align: justify;
        border-radius: 8px;
    }
  }