.box-boss {
  display: flex;
  margin: auto;
  max-width: 90%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.archive-mother{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.buton{
  margin-right: 80%;
  margin-top: 2%;
}

.corp-buton{
  border: none;
  background-color: #1B3D71;
  color: white;
  border-radius: 2px;
}

.archives-box {
  flex: 1;
  text-align: center;
}

.archives-enfant2 {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: space-between;
  margin-top:6.4%;
  overflow: hidden;
}

.archives-enfants{
  color:  #1B3D71;
  font-family: sans-serif;
  font-weight: bold;
  float: left;
  font-size: 20px;
}

.archive2{
  width: 50%;
  object-fit: cover;
}

.archive{
width: 100%;
}

  @media (max-width:560px) {
    .box-boss {
      display: block;
      margin: auto;
      max-width: 90%;
      align-items: center;
      justify-content: center;
      margin-top: 1%;
      overflow: hidden;
    }
  
    .archive-mother{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
    }
  
    .buton{
      margin-right: 50%;
      margin-top: 3%;
      max-width: 100%;
    }
  
    .corp-buton{
      border: none;
      background-color: #1B3D71;
      color: white;
      border-radius: 2px;
    }
    
    .archives-box {
      flex: 1;
      text-align: center;
    }
    
    .archives-enfant2 {
      display: flex;
      flex-direction: column;
      
      justify-content: center;
      overflow: hidden;
    }
    
    .archives-enfants{
      color:  #1B3D71;
      font-family: sans-serif;
      font-weight: bold;
      float: left;
      font-size: 20px;
    }
  
    .archive2{
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  
    .archive{
   width: 100%;
    }
    
  }